$full_height: 768px;
$full_width: 1536px;
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./assets/fonts/Gilroy-Bold.ttf');
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./assets/fonts/Gilroy-Medium.ttf');
}
@font-face {
  font-family: 'Gilroy-Thin';
  src: url('./assets/fonts/Gilroy-Thin.ttf');
}
@font-face {
  font-family: 'Gilroy-Light';
  src: url('./assets/fonts/Gilroy-Light.ttf');
}

body {
  background-color: #0c232f;
  margin: 0;
  padding: 0;
}

#canvas {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

#navbar {
  z-index: 10;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: #001723;
}

#icon {
  z-index: 15;
  height: 100px;
  a {
    display: block;
  }
  img {
    width: 28px;
    margin: 11px 11px;
  }
}

#menu {
  z-index: 15;
  .item_menu {
    height: 20px;
    width: 24px;
    padding: 17px 12px;
    a {
      display: block;
    }
    img {
      display: block;
    }
  }
}

#socials {
  z-index: 15;
  .item_social {
    height: 20px;
    width: 20px;
    padding: 5px 15px;
    &:last-of-type {
      padding-bottom: 15px;
    }
    a {
      display: block;
    }
    img {
      display: block;
    }
  }
}

#greeting {
  z-index: 10;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: absolute;
  margin-left: 150px;
  height: 100%;
  width: 400px;
  color: white;
  h1 {
    font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 44px;
    margin: 0;
  }
  p {
    font-family: 'Gilroy-Light';
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  button {
    height: 40px;
    width: 138px;
    border: 2px solid #47b9f5;
    background: transparent;
    margin: 0 auto;
    cursor: pointer;

    &:last-of-type {
      margin-left: 20px;
    }

    p {
      font-family: 'Gilroy-Medium';
      font-size: 16px;
      line-height: 19px;
      color: #47b9f5;
      margin: 0;
    }
  }
}

#images {
  z-index: 10;
  #moon {
    z-index: 10;
    position: fixed;
    width: 600px;
    height: 600px;
    top: $full_height / 3;
    margin-top: -300px;
    left: $full_width / 4 * 3;
    margin-left: -300px;
  }
  #man {
    z-index: 10;
    position: fixed;
    width: 260px;
    height: 550px;
    top: $full_height / 3;
    left: $full_width / 4 * 3;
  }
}
