<div id="about_page">
  <div class="content">
    <h1>About me</h1>
    <p>
      Hi! I'm
      <span class='highlighter'>Mardon</span> and I'm a
      <span class='highlighter'>curious</span> and
      <span class='highlighter'>creative</span> seeker of new grounds to expand my frontiers. And this curiosity took me to few different countries
      and tought me quite diverse skills in my true passion:
      <span class='highlighter'>computers</span>. Thanks to my love for new challenges and thirst for learning, I had the chance to work in several
      big and small companies performing quite a unique set of roles such as
      <span class='highlighter'>Website developer, Website designer</span>.
      <br>
      <br> My other passion is
      <span class='highlighter'>people</span>. As simple as it sounds I love to
      <span class='highlighter'>interact and help</span> people and I consider myself an asertive person that enjoys working with others. I believe
      that we are more likely to overcome our struggles and find what we are looking for when we are willing to take others
      on our journey.
    </p>
  </div>
  <div class="image">
    <img src="../assets/images/self-bg.jpg" alt="#">
  </div>
</div>