<div id="what">
  <div class="wrap">
    <h1>What I do</h1>
    <p>
      I connect people to brands and organizations by building intuitive, user-centric websites that engage, delight, and communicate
      clearly on all devices.
    </p>
  </div>
</div>

<div id="about_pic">
  <img src="#" alt="#">
</div>

<div id="how">
  <div class="wrap">
    <h1>
      How the work is done
    </h1>
    <p>
      We’ll sit down over a coffee and talk through your online objectives to find a solution that works synergistically to drive
      results.
    </p>
  </div>
</div>

<div id="how_items">
  <div id="how_item1" class='how_item'>
    <div class="wrap">

      <h2>
        <span>
          Goal Identification
        </span>
      </h2>
      <p>
        Maybe you know exactly what you need or maybe you have no idea what you want. Don't worry, I've developed a step-by-step
        questionaire that will not only bring a clear picture of your desired website into focus, it will also help me determine
        the site's unique features.
      </p>
      <h1>
        #1
      </h1>
    </div>
  </div>
  <div id="how_item2" class='how_item'>
    <div class="wrap">

      <h2>
        <span>
          Planning
        </span>
      </h2>
      <p>
        This is the fun part. Once we have a vision of where to take your website, I will put together a concept that not only looks
        great, but it will also translate your hopes for the site into reality. After you've shared your feedback with us,
        we'll then merge your suggestions into a final design.
      </p>
      <h1>
        #2
      </h1>
    </div>
  </div>
  <div id="how_item3" class='how_item'>
    <div class="wrap">

      <h2>
        <span>
          Designing
        </span>
      </h2>
      <p>
        During the design phase, a website takes shape. All the visual content, such as images, photos, and videos is created at
        this step. In this phase, communication between both you and me is crucial to ensure that the final website will
        match your needs and taste.
      </p>
      <h1>
        #3
      </h1>
    </div>
  </div>
  <div id="how_item4" class='how_item'>
    <div class="wrap">

      <h2>
        <span>
          Content Writing
        </span>
      </h2>
      <p>
        Content writing and compiling usually overlaps with other stages of website creation, and its role can’t be underestimated.
        At this step it is necessary to put in writing the very essence you’d like to communicate to the audience of your
        website, and add calls-to-action. Content writing involves also creation of catching headlines, text editing, writing
        new text, etc.
      </p>
      <h1>
        #4
      </h1>
    </div>
  </div>
  <div id="how_item5" class='how_item'>
    <div class="wrap">

      <h2>
        <span>
          Development
        </span>
      </h2>
      <p>
        The developmental stage is the point where the website itself is created. Graphic elements that have been designed during
        the previous stages should be used to create an actual website.
      </p>
      <h1>
        #5
      </h1>
    </div>
  </div>
  <div id="how_item6" class='how_item'>
    <div class="wrap">
      <h2>
        <span>
          Testing & Launching
        </span>
      </h2>
      <p>
        Testing is probably the most routine part of a process. Every single link should be tested to make sure that there are no
        broken ones among them. Developer should check every form, every script, run a spell-checking software to find possible
        typos, use code validators to check if the code follows the current web standards. After it is time to upload files
        to server.
      </p>
      <h1>
        #6
      </h1>
    </div>
  </div>
  <div id="how_item7" class='how_item'>
    <button routerLink="/work">
      <p>
        Explore work
      </p>
    </button>
  </div>
</div>