@font-face {
  font-family: 'G-Bold';
  src: url("./assets/fonts/Gilroy-Bold.ttf"); }

@font-face {
  font-family: 'G-Medium';
  src: url("./assets/fonts/Gilroy-Medium.ttf"); }

@font-face {
  font-family: 'G-UltraLight';
  src: url("./assets/fonts/Gilroy-UltraLight.ttf"); }

@font-face {
  font-family: 'G-Light';
  src: url("./assets/fonts/Gilroy-Light.ttf"); }

body {
  background-color: #0c232f;
  margin: 0;
  margin-left: 50px;
  padding: 0; }

html,
body {
  min-height: 100% !important;
  height: 100%; }

::-webkit-scrollbar {
  display: none; }

h1 {
  font-family: 'G-Bold';
  font-size: 50px;
  color: #ffffff;
  margin: 0; }

h2 {
  font-family: 'G-Bold';
  font-size: 36px;
  color: #ffffff;
  margin: 0; }

h3 {
  font-family: 'G-Bold';
  font-size: 23px;
  color: #ffffff;
  margin: 0; }

h4 {
  font-family: 'G-Medium';
  font-size: 16px;
  color: #ffffff;
  margin: 0; }

p {
  font-family: 'G-UltraLight';
  font-size: 18px;
  color: #ffffff;
  margin: 0; }

a {
  text-decoration: none; }

#scroll-place {
  min-height: 100% !important;
  max-height: 100%;
  height: 100%;
  overflow-x: hidden; }

#canvas {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0; }

#navbar {
  z-index: 10;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: #001723; }
  #navbar #icon {
    z-index: 15;
    height: 100px; }
    #navbar #icon a {
      background-color: #000000;
      display: block; }
    #navbar #icon img {
      width: 28px;
      margin: 11px 11px; }
  #navbar #menu {
    z-index: 15; }
    #navbar #menu .item_menu {
      height: 20px;
      width: 24px;
      padding: 17px 12px; }
      #navbar #menu .item_menu a {
        display: block; }
      #navbar #menu .item_menu img {
        display: block; }
  #navbar #socials {
    z-index: 15; }
    #navbar #socials .item_social {
      height: 20px;
      width: 20px;
      padding: 5px 15px; }
      #navbar #socials .item_social:last-of-type {
        padding-bottom: 15px; }
      #navbar #socials .item_social a {
        display: block; }
      #navbar #socials .item_social img {
        display: block; }

#greeting {
  z-index: 10;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: absolute;
  margin-left: 100px;
  height: 100%;
  width: 400px;
  color: white; }
  #greeting h1 {
    font-family: 'G-Bold';
    font-size: 50px;
    margin-bottom: 20px; }
  #greeting button {
    height: 40px;
    width: 180px;
    border: 2px solid #47b9f5;
    background: transparent;
    margin: 0 auto;
    cursor: pointer; }
    #greeting button:last-of-type {
      margin-left: 20px; }
    #greeting button p {
      font-family: 'G-Medium';
      font-size: 20px;
      line-height: 24px;
      color: #47b9f5; }

#images {
  z-index: 10; }
  #images #moon {
    z-index: 10;
    position: fixed;
    width: 600px;
    height: 600px;
    top: 256px;
    margin-top: -300px;
    left: 1152px;
    margin-left: -300px; }
  #images #man {
    z-index: 10;
    position: fixed;
    width: 260px;
    height: 550px;
    top: 256px;
    left: 1152px; }

#what,
#how {
  width: 600px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  #what .wrap,
  #how .wrap {
    width: 500px;
    margin: 0 50px; }
  #what h1,
  #how h1 {
    margin: 0 0 10px 0; }

#about_pic {
  position: absolute;
  left: 650px;
  top: 0;
  width: 716px;
  height: 100%;
  background-color: #fff; }

#how {
  position: absolute;
  left: 1366px;
  top: 0;
  width: 600px;
  height: 100%; }

#how_items .how_item {
  height: 100%;
  width: 341px;
  position: absolute;
  top: 0;
  border: 1px solid #707070;
  border-bottom: 0;
  border-top: 0;
  display: flex;
  flex-flow: column;
  justify-content: center; }

#how_items #how_item1 {
  left: 1966px;
  background-color: #0f2d38; }

#how_items #how_item2 {
  left: 2307px;
  background-color: #143b45; }

#how_items #how_item3 {
  left: 2648px;
  background-color: #194852; }

#how_items #how_item4 {
  left: 2989px;
  background-color: #143b45; }

#how_items #how_item5 {
  left: 3330px;
  background-color: #0f2d38; }

#how_items #how_item6 {
  left: 3671px;
  background-color: #143b45; }

#how_items #how_item7 {
  left: 4012px;
  background-color: #143b45; }

#how_items .wrap {
  margin: 0 auto; }
  #how_items .wrap h2 {
    display: block;
    width: 250px;
    margin-bottom: 70px;
    height: 88px;
    position: relative; }
    #how_items .wrap h2 span {
      position: absolute;
      bottom: 0; }
  #how_items .wrap p {
    display: block;
    width: 250px;
    margin-bottom: 0;
    height: 368px; }

#how_items #how_item7 button {
  height: 40px;
  width: 180px;
  border: 2px solid #47b9f5;
  background: transparent;
  margin: 0 auto;
  cursor: pointer; }
  #how_items #how_item7 button p {
    width: 100%;
    font-family: 'G-Medium';
    font-size: 20px;
    color: #47b9f5; }

#projects {
  width: 200px; }
  #projects .project {
    height: 140px;
    background: #002437;
    border: 1px solid #000000;
    display: flex;
    flex-flow: column;
    justify-content: center; }
  #projects .wrap {
    margin: 0 auto; }
  #projects h3 {
    margin: 0 0 10px 0; }
  #projects h4 {
    color: rgba(255, 255, 255, 0.5); }
  #projects .chosenProject {
    background-color: #001723;
    position: relative; }
    #projects .chosenProject:after {
      position: absolute;
      bottom: -1px;
      right: -1px;
      content: '';
      width: 0;
      height: 0;
      border-bottom: 40px solid #47b9f5;
      border-left: 40px solid transparent; }

#specific_project {
  background-color: #3db3d1;
  position: absolute;
  top: 0;
  left: 250px;
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: space-between; }
  #specific_project #project_info {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center; }
    #specific_project #project_info .wrap {
      margin: 0 100px; }
    #specific_project #project_info h2 {
      text-transform: uppercase;
      margin-bottom: 30px;
      width: 450px; }
    #specific_project #project_info p {
      width: 450px;
      margin-bottom: 30px; }
    #specific_project #project_info button {
      height: 50px;
      width: 200px;
      background-color: #fff;
      border: 0;
      cursor: pointer; }
      #specific_project #project_info button:first-of-type {
        margin-right: 50px; }
      #specific_project #project_info button p {
        font-family: 'G-Light';
        width: 100%;
        display: block;
        color: #3db3d1;
        margin: 0; }
  #specific_project #project_photo {
    height: 100%;
    width: 500px;
    z-index: 30;
    display: flex;
    flex-flow: column;
    justify-content: center; }
    #specific_project #project_photo img {
      object-fit: contain; }
