<div id="skill_page">
  <div class="content">
    <h1>
      Skills
    </h1>
    <p>
      I architect, build, optimise and launch <span class='highlighter'>client-side solutions</span> that users <span class='highlighter'>love to interact with</span>.
      <br>
      <br> Main area of my expertise is <span class='highlighter'>front end development</span> and everything related with this side of web. HTML, CSS, JS (ES5,
      ES6, ES7), Angular, building custom plugins, features, animations and just coding layouts.
      <br>
      <br> Here is a selection of relevant technologies that I <span class='highlighter'>have experience with:</span>
    </p>
  </div>
  <div class="skills">
    <div id="skill_item1" class='skill_item'>
      <div class="skill_type">
        Client<br> side
      </div>
      <div class="skill_relevant">
        <ul>
          <li>HTML5</li>
          <li>CSS(SCSS,LESS)</li>
          <li>JavaScript(ES6)</li>
          <li>Angular</li>
          <li>TypeScript</li>
          <li>jQuery</li>
          <li>Boostrap</li>
          <li>Responsive Web</li>
        </ul>
      </div>

    </div>
    <div id="skill_item2" class='skill_item'>
      <div class="skill_type">
        Server<br> side
      </div>
      <div class="skill_relevant">
        <ul>
          <li>Node.js</li>
          <li>npm</li>
          <li>Express</li>
          <li>MVC</li>
          <li>Authentication(JWT)</li>
          <li>MongoDB</li>
        </ul>
      </div>
    </div>
    <div id="skill_item3" class='skill_item'>
      <div class="skill_type">
        Additional
      </div>
      <div class="skill_relevant">
        <ul>
          <li>Git - Version Control</li>
          <li>APIs</li>
          <li>RESTful Web Services</li>
          <li>HTTP/HTTPS</li>
          <li>Basic Terminal Usage</li>
          <li>Github</li>
        </ul>
      </div>
    </div>
    <div id="skill_item4" class='skill_item'>
      <div class="skill_type">
        Designing
      </div>
      <div class="skill_relevant">
        <ul>
          <li>Adobe Photoshop</li>
          <li>Adobe Illustrator</li>
          <li>Adobe XD</li>
        </ul>
      </div>
    </div>
  </div>
</div>